/*

//////////
* Author: Stampery INC
* Website: http://stampery.co
//////////

*/

/*
Custom Rules
*/

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url('../fonts/AvenirNextLTPro-Demi.otf');
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('../fonts/AvenirLTStd-Medium.woff');
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
}

.row {
  margin: 0px !important;
}

.col-sm-12 {
  padding: 0px !important
}

html,body {
  height: 100%;
}

body {
  font-family: AvenirNextLTPro-Regular!important;
}

a:hover {
  text-decoration: none !important;
}

header {
  font-family: AvenirNextLTPro-Demi;
}

/**/

button.default,
a.button.default {
  display: inline-block;
  width: auto;
  padding: 11px 30px 10px 30px;
  background: #F37E83;
  border-radius: 50px;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.btn-default {
  color: #fff;
  border: none;
  width: auto;
  border-radius: 50px;
  background-color: #f37e83;
  padding: 20px 30px 22px 30px;
  display: block;
  margin-top: 30px;
  text-decoration: none;
  font-weight: bold!important;
}


.home {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../img/bg.jpg');
  background-color: #34495e;
  background-size: cover;
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #34495e;
}

.navbar {
  position: relative;
  min-height: 50px;
  padding-top: 21.5px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default {
  background-color: transparent !important;
  border: none !important;
}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-family: AvenirNextLTPro-Bold;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.91);
  padding-left: 80px;
}

.navbar-nav > li > a {
  padding-top: 22px !important;
  padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: transparent !important;
}

.container-fluid {
  padding-right: 60px !important;
  padding-left: 60px !important;
  margin-right: auto;
  margin-left: auto;
  max-width: 87vw;
}

/**/

.home h1 {
  font-family: AvenirNextLTPro-Demi;
  font-size: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 0.91);
  margin-top: 60px;
  margin-bottom: 30px;
  animation: pop 2s ease;
}

.home p {
  width: 800px;
  margin: auto;
  font-family: AvenirNextLTPro-Regular;
  font-size: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.71);
  animation: pop 2s ease;
}

.home .screen {
  display: inline-block;
  position: absolute;
  text-align: center;
  bottom: 0; left: 0; right: 0;
  overflow: hidden;
  animation: pop 1s ease;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.home .screen img {
  height: 100%;
}

.home .btn-default {
  color: #fff;
  border: none;
  width: auto;
  height: 44px;
  border-radius: 50px;
  background-color: #f37e83;
  padding-right: 30px;
  padding-left: 30px;
  display: block;
  margin: auto;
  margin-top: 40px;
  text-decoration: none;
  font-weight: bold;
  animation: pop 2s ease;
}

.btn-default:hover {
  color: #fff !important;
  background-color: #f37e83 !important;
  border: none !important;
  text-decoration: none;
}

.home a:hover {
  text-decoration: none;
}

.home .btn-default .fa-github {
  padding-right: 10px;
}

/**/

#features > header {
  position: relative;
  margin-top: 50px;
}

#features > header h1 {
  font-size: 7vw;
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, .05);
}

#features > header h2 {
  position: absolute;
  margin-top: -2vw;
  top: 50%;
  width: 100%;
  font-size: 3vw;
  text-align: center;
  color: #666;
}

#features .feature {
  position: relative;
  padding: 80px 0;
  overflow: hidden;
}

#features .feature:not(:last-child) {
  border-bottom: 1px solid #DDD;
}

#features .feature header {
  float: left;
  width: 60%;
  padding: 0 70px 0 70px;
}

#features .feature header h1 {
  font-size: 2.5em;
  color: #666;
}

#features .feature p {
  display: inline-block;
  margin-top: 20px;
  padding: 0 70px 0 70px;
  width: 60%;
  font-size: 1.2em;
  color: #888;
}

#features .feature img {
  float: left;
  width: 40%;
}

#features .feature:nth-child(even) img {
  float: right;
}

/**/

#policies {
  padding: 80px 0;
  border-top: 1px solid #EEE;
}

#policies > header {
  text-align: center;
  margin: -30px 0 50px 0;
}

#policies > header h2 {
  color: #555;
}

#policies > header h3 {
  margin-top: 0;
  color: #999;
}

#policies .policy {
  position: relative;
  display: block;
  float: left;
  width: calc(50% - 10px);
  padding: 35px 60px 35px 90px;
  margin: 6px 5px;
  border-radius: 4px;
  border: 1px solid #DDD;
  font-size: 1.2em;
  transition: all .2s ease;
}

#policies .policy.double {
  width: calc(100% - 10px);
  padding-right: 400px;
}

#policies .policy:hover {
  border-color: rgba(51, 122, 183, .4);
  box-shadow: 0 0 20px rgba(51, 122, 183, .4);
}

#policies .policy header {
  text-align: left;
  color: #777;
}

#policies .policy .icon {
  position: absolute;
  top: 50px;
  left: 15px;
  text-align: center;
  width: 60px;
}

#policies .policy .arrow {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 25px;
}

#policies .policy p {
  display: inline-block;
  min-height: 4.5em;
  margin: 0;
  color: #999;
}

#policies .policy.double button {
  position: absolute;
  right: 100px;
  top: 50%;
  margin-top: -24px;
}


/**/

.footer {
  width: 100%;
  height: auto;
  background-color: #34495e;
}

.footer img {
  margin-top: 80px;
}

.footer .col-sm-6 p {
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  width: 300px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  padding-top: 30px;
}

.footer .btn-default {
  color: #fff;
  border: none;
  width: auto;
  height: 44px;
  border-radius: 50px;
  background-color: #f37e83;
  padding-right: 30px;
  padding-left: 30px;
  display: block;
  margin-top: 22px;
}

.footer .btn-default .fa-github {
  padding-right: 10px;
}

.footer ul {
  list-style-type: none;
  color: #fff;
  text-align: left;
  padding-bottom: 20px;
}

.footer ul li {
  color: #fff;
  padding-top: 0px;
}

.footer ul li a {
  color: #fff;
  padding-top: 0px;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.72);
  font-family: AvenirNextLTPro-Regular;
}

.footer ul .title {
  font-family: AvenirNextLTPro-Demi;
  letter-spacing: 4px;
  font-size: 16px;
  padding-top: 110px;
}

.footer-logo {
  width: 249px;
  height: 24.3px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-logo img {
  margin: 0px;
}

.footer a:hover {
  text-decoration: none;
}

@media all and (max-width: 900px) and (min-width: 767px) {

  .ribbon {
  width: 100%;
  height: auto;
  background: #f37e83;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-radius: 30px 0 0 30px;
  }

}

@media all and (max-width: 876px) and (min-width: 300px) {
  .col-lg-6 {
  padding: 0px !important;
  }

  .container-fluid {
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto;
  margin-left: auto;
  }

  .navbar-brand {
  padding: 10px 15px;
  }

  .navbar-default .navbar-toggle {
  display: none;
  }

  .home h1 {
    font-size: 32px;
    padding: 0 20px;
  }

  .home p {
    font-size: 20px;
    width: 90%;
    margin: auto;
    padding: 0 20px;
  }

  /**/

  .footer .col-sm-6 p {
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  width: 280px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  padding-top: 30px;
  }

  .footer-logo {
  width: 200px;
  height: 24px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  }

  .footer .col-sm-6 {
  padding: 0px;
  }

  .footer ul {
  padding-left: 0px !important;
  }

  .footer ul li {
  color: #fff;
  padding-top: 0px;
  }

  .footer ul li a {
  color: #fff;
  padding-top: 0px;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.72);
  font-family: AvenirNextLTPro-Regular;
  }

  .footer .btn-default {
    margin-bottom: 50px;
  }

  .footer ul .title {
  font-family: AvenirNextLTPro-Demi;
  letter-spacing: 4px;
  font-size: 18px;
  padding-top: 10px;
  }

  .footer .separator {
  margin-top: 10px !important;
  }

  .footer ul .title {
    margin-top: 0px;
  }

  .footer .container {
    padding-left: 70px;
    padding-right: 70px;
  }

}

@media all and (max-width: 876px) and (min-width: 768px) {

  .footer img {
  margin-top: 40px;
  }

  .footer .col-sm-6 p {
  font-family: AvenirNextLTPro-Regular;
  font-size: 16px;
  width: 300px;
  line-height: 30px;
  color: #fff;
  text-align: left;
  padding-top: 30px;
  }

  .footer ul .title {
  font-family: AvenirNextLTPro-Demi;
  letter-spacing: 4px;
  font-size: 16px;
  padding-top: 50px;
  }

  .footer-logo {
  width: 249px;
  height: 24.3px;
  margin: auto;
  margin-top: 300px;
  margin-bottom: 30px;
  }

  .footer-logo img {
  margin: 0px;
  }

  .footer .separator {
  display: none;
  }
}

/**/

@media all and (max-width: 992px) {

  #features .feature header,
  #features .feature p {
    width: 100%;
    padding: 0 30px;
  }

  #features .feature img {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    width: auto;
    z-index: -1;
    opacity: .3;
  }

  #features .feature:nth-child(even) img {
    right: auto;
    left: 0;
  }

  #features .feature:after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
    z-index: -1;
  }

  #features .feature:nth-child(even):after {
    transform: rotateY(180deg);
  }

  #policies .policy {
   margin: 0;
   width: 100%!important;
   border: 0;
   border-bottom: 1px solid #DDD;
   border-radius: 0;
  }

  #policies .policy:last-child {
    border: none;
  }

  #policies .policy:hover {
    box-shadow: none;
    border-color: #DDD!important;
  }

  #policies .policy p {
    min-height: auto;
  }

  #policies .policy.double {
    padding-right: 60px;
  }

  #policies .policy.double button {
    position: static;
    margin: 20px 0 0 0;
  }

}

/*VERTICAL*/
@media all and (max-aspect-ratio: 1/1) {
  .home .screen img {
    width: calc(100vw - 100px);
  }
}

/*HYPERVERTICAL*/
@media all and (max-aspect-ratio: 2/3) {
  .home {
    height: auto;
    padding-bottom: 100px;
  }
  .home .screen {
    display: none;
  }
}

/*HORIZONTAL*/
@media all and (min-aspect-ratio: 1/1) {
  .home .screen {
    height: calc(100vh - 450px);
  }
}

/*HYPERHORIZONTAL*/
@media all and (min-aspect-ratio: 25/10) {
  .home .screen {
    display: none;
  }
}
